package ${packageName};

import jp.dataforms.fw.dao.JDBCConnectableObject;
import jp.dataforms.fw.dao.QuerySetDao;
${importTables}

/**
 * ${comment}です。
 *
 */
public class ${daoClassName} extends QuerySetDao {
${props}
	/**
	 * コンストラクタ。
	 * @throws Exception 例外。
	 */
	public ${daoClassName}() {
		this.setComment("${comment}");
		this.setListQuery(${listQuery});
		this.setSingleRecordQuery(${singleRecordQuery});
${addMultiRecordQueryList}
	}

	/**
	 * コンストラクタ。
	 * @param cobj JDBC接続可能Object。
	 * @throws Exception 例外。
	 */
	public ${daoClassName}(final JDBCConnectableObject cobj) throws Exception {
		this();
		this.init(cobj);
	}

	/**
	 * 主テーブルを取得します。
	 * @return 主テーブル。
	 */
	public ${mainTable} getMainTable() {
		if (this.getSingleRecordQuery() != null) {
			return (${mainTable}) this.getSingleRecordQuery().getMainTable();
		} else {
			if (this.getMultiRecordQueryList() != null) {
				return (${mainTable}) this.getMultiRecordQueryList().get(0).getMainTable();
			}
		}
		return null;
	}

	//
	// 特殊な検索条件を設定する場合、以下のメソッドをオーバーライドしてください。
	// 
	/**
	 * QueryFormから入力された条件からテーブルを検索し、QueryResultFormに表示する情報を返します。
	 * <pre> 
	 *	このメソッドはQueryFormに指定された条件に応じた標準的に条件式を生成して検索する処理になっています。
	 * </pre>
	 * @param data 条件データ。
	 * @param flist 条件フィールドリスト。
	 * @return 検索結果。
	 * @throws Exception 例外。
	 */
/*
	@Override
	public Map<String, Object> queryPage(final Map<String, Object> data, final FieldList flist) throws Exception {
		// ListQueryに設定した問い合わせを取得します。テーブルを指定した場合、そのテーブルのSingleTableQueryを返します。
		Query query = this.getListQuery();
		// dataの内容を調整したり、 query.setCondition("...");　等で特殊な条件を指定してください。
		query.setConditionFieldList(flist);
		query.setConditionData(data);
		String sortOrder = (String) data.get("sortOrder");
		FieldList sflist = query.getFieldList().getOrderByFieldList(sortOrder);
		if (sflist.size() != 0) {
			query.setOrderByFieldList(sflist);
		}
		return this.executePageQuery(query);
	}
*/

	/**
	 * QueryFormから入力された条件から、テーブルを検索し、マッチするすべてのデータを返します。
	 * <pre>
	 * データをエクスポートするタイミングで呼び出されます。
	 * </pre>
	 * @param data 条件データ。
	 * @param flist 条件フィールドリスト。
	 * @return 検索結果。
	 * @throws Exception 例外。
	 */
/*
	@Override
	public List<Map<String, Object>> query(final Map<String, Object> data, final FieldList flist) throws Exception {
		Query query = this.getListQuery();
		query.setConditionFieldList(flist);
		query.setConditionData(data);
		return this.executeQuery(query);
	}
*/

	/**
	 * PKでレコードを限定し、データを取得します。
	 * <pre>
	 * EditFormで編集データを取得式に呼び出されます。
	 * </pre>
	 * @param data 条件データ PKの情報をすべて含むマップ。
	 * @return ヒットしたレコード。
	 * @throws Exception 例外。
	 */
/*	@Override
	public Map<String, Object> query(final Map<String, Object> data) throws Exception {
		Map<String, Object> ret = super.query(data);
		return ret;
	}
*/

	//
	// 追加、更新、削除処理を改造する場合は以下のメソッドをオーバーライドしてください。
	// QuerySetDaoクラスではsingleRecordQuery,multiRecordQueryListに登録された各問合せ
	// のmainTableのみ操作するようになっています。
	//
	/**
	 * テーブル群を追加します。
	 * @param data データ。
	 * @throws Exception 例外。
	 */
/*
	@Override
	public void insert(final Map<String, Object> data) throws Exception {
		super.insert(data);
	}
*/

	/**
	 * テーブル群を更新します。
	 * @param data 更新データ。
	 * @throws Exception 例外。
	 */
/*
	@Override
	public void update(final Map<String, Object> data) throws Exception {
		super.update(data);
	}
*/

	/**
	 * データを削除します。
	 * @param data データ。
	 * @throws Exception 例外。
	 */
/*
	@Override
	public void delete(final Map<String, Object> data) throws Exception {
		super.delete(data);
	}
*/

}
