@charset "UTF-8";

/* 各フォームのスタイル */
.mainDiv form {
	margin:5px;
	padding:10px;
	background: #fff;
	border-width: 1px;
	border-color: var(--form-border-color);
	border-style: solid;
}

/* 各フォームヘッダのスタイル */
.formHeader {
	font-size: 120%;
	margin-top: 1px;
	margin-bottom: 5px;
	padding: 5px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: var(--form-border-color);
}

/*スクロールバー全体*/
::-webkit-scrollbar {
	width: 16px;
}

/*スクロールバーの軌道*/
::-webkit-scrollbar-track {
	background: var(--scrollbar-track-color);
	border-radius: 8px;
}

/*スクロールバーの動く部分*/
::-webkit-scrollbar-thumb {
	background: var(--scrollbar-thumb-color);
	border-radius: 8px;
}

table.columnFixedTable,
div.hScrollDiv {
	scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}


/* PC,タブレット  (以下の記述は*.cssxでアクセスしCssFilerを通したときのみ有効) */
@media screen and (min-width: var(--tb-screen-min)) {
	.mainDiv table.responsive th,
	.mainDiv table.responsive td {
		height: 26px;
	}

	/* レスポンシブテーブルの制御設定 */
	table.responsive {
		width: 100%;
	}


	/* レスポンシブテーブルの制御設定 */
	table.responsive {
		width: 100%;
	}

	/* <th></th><td></td>のみのテーブル */
	table.thtd th {
		width: 30%;
	}

	table.thtd td {
		width: 70%;
	}

	/* <th></th><td></td>の2回繰り返しテーブル */
	table.thtdthtd th {
		width: 20%;
	}

	table.thtdthtd td {
		width: 30%;
	}

	/* <th></th><td></td>の3回繰り返しテーブル */
	table.thtdthtdthtd th {
		width: 10%;
	}

	table.thtdthtdthtd td {
		width: 15%;
	}
}

/* スマートフォン  (以下の記述は*.cssxでアクセスしCssFilerを通したときのみ有効) */
@media screen and (max-width: var(--sp-screen-max)) {
	/* レスポンシブテーブルの制御設定 */
	table.responsive {
		width: 100%;
	}

	table.responsive tbody tr th,
	table.responsive tbody tr td
	{
		display: inline-block;
		width: 100%;
		margin: 1px;
	}
	table.responsive tbody tr td {
		height: auto;

	}
	table.responsive tbody tr th {
		height: auto;
		min-height: 30px;
		padding-top: 8px;
	}
}

/** 各フィールドのレイアウトをdisplay: gridスタイルで行う場合のスタイル設定。 ver 2.40以上 **/
div.gridLayout {
	display: grid;
}
div.gridLayout > div {
	display: flex;
	flex-flow: row;
	margin-bottom: 1px;
}

div.gridLayout > div div.label {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 200px;
	background-color: var(--header1-background-color);
}
div.gridLayout > div div.field {
	padding-left: 1px;
	width: calc(100% - 202px);
}
@media screen and (max-width: var(--sp-screen-max)) {
	div.gridLayout {
		grid-template-columns: 1fr !important;
	}
	div.gridLayout > div {
		grid-column: 1 / 2 !important;
		flex-flow: column;
	}
	div.gridLayout > div div.label {
		width: calc(100% - 0px) !important;
	}
	div.gridLayout > div div.field {
		padding-left: 0px;
		width: 100% !important;
	}
	div.gridLayout > div div.field div.multiField{
		display: flex;
		flex-flow: row;
	}
}


/** 各フィールドのレイアウトをdisplay: flexスタイルで行う場合のスタイル設定。 ver 2.40以上 **/

div.flexLayout {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
div.flexLayout > div {
	display: flex;
	flex-flow: row;
	width: 100%;
	margin-bottom: 1px;
}


div.flexLayout > div div.label {
	display:flex;
	align-items: center;
	justify-content: center;
	width: 200px;
	background-color: var(--header1-background-color);

}
div.flexLayout > div div.field {
	padding-left: 1px;
	width: calc(100% - 202px);
}

div.flexLayout > div.w50p {
	width: 50%;
}

div.flexLayout > div.w33p {
	width: 33.33333%;
}

div.flexLayout > div.w25p {
	width: 25%;
}

div.flexLayout > div.w20p {
	width: 20%;
}
@media screen and (max-width: var(--sp-screen-max)) {
	div.flexLayout > div {
		width: 100% !important;
		flex-flow: column;
	}
	div.flexLayout > div div.label {
		width: calc(100% - 0px) !important;
	}
	div.flexLayout > div div.field {
		padding-left: 0px;
		width: 100% !important;
	}
	div.flexLayout > div div.field div.multiField{
		display: flex;
		flex-flow: row;
	}
}

