<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE project>
<Configuration status="off">
	<Properties>
		<Property name="format1">%d{yyyy/MM/dd HH:mm:ss.SSS} [%t] %-6p %c{10} %m%n</Property>
		<Property name="logfile">${sys:catalina.base}/logs/dataforms3.log</Property>
		<Property name="logfile-archive">${sys:catalina.base}/logs/dataforms3_%d{yyyy-MM-dd}-%i.log.gz</Property>
	</Properties>

	<Appenders>
		<!-- コンソールに出力する設定 -->
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout>
				<pattern>${format1}</pattern>
			</PatternLayout>
		</Console>
		<!-- ファイルに出力する設定 -->
		<RollingFile name="Logfile001" append="true" fileName="${logfile}" filePattern="${logfile-archive}">
			<PatternLayout>
				<pattern>${format1}</pattern>
			</PatternLayout>
			<Policies>
				<!-- 1日ごとに新しいファイルを作成 -->
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
			<!-- 10日分残す設定 -->
			<DefaultRolloverStrategy>
				<Delete basePath="${sys:catalina.base}/logs" maxDepth="1">
					<!-- ファイル名が dataforms3- で始まるものを対象にする -->
					<IfFileName glob="dataforms3_*.log.gz" />
					<!-- 最終更新から10日（10d）経ったものを削除 -->
					<IfLastModified age="10d" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>
	</Appenders>

	<Loggers>
		<!-- 開発時はDEBUG -->
		<Root level="debug">
			<AppenderRef ref="Console" />
			<AppenderRef ref="Logfile001" />
		</Root>
		<!-- フレームワークのログはinfo -->
		<Logger name="jp.dataforms.fw" level="info" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="Logfile001" />
		</Logger>
		<!-- 実行時のSQLをログに出力 -->
		<Logger name="jp.dataforms.fw.dao.sqlgen" level="debug" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="Logfile001" />
		</Logger>
		<!-- ブラウザに送るjsonを確認する設定 -->
		<Logger name="jp.dataforms.fw.response.JsonResponse" level="debug" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="Logfile001" />
		</Logger>
		<!-- apache提供ライブラリはinfo -->
		<Logger name="org.apache" level="info" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="Logfile001" />
		</Logger>
	</Loggers>
</Configuration>
