<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<listener>
		<description>Handles Log4j Core lifecycle</description>
		<listener-class>org.apache.logging.log4j.web.Log4jServletContextListener</listener-class>
	</listener>
	<!-- 
		*.warに開発時のlog4j2.xmlが入っている場合でも、以下のパスにlog4j2.xmlを記述すれば、
		その設定が優先されます。
	 -->
	<context-param>
	    <param-name>log4jConfiguration</param-name>
	    <param-value>file:///etc/context/log4j2.xml</param-value>
	</context-param>
	
	<!-- セッションタイムアウト -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

</web-app>