@charset "UTF-8";

div.queryClass input {
	width: calc(100% - 118px);
}
div.queryClass button {
	width: 110px;
}

div.formClass input {
	width: calc(100% - 118px);
}
div.formClass select {
	width: 110px;
}

table.formClass th {
	width: 300px;
}
table.formClass tbody td input {
	width: calc(100% - 208px);
}
table.formClass td select {
	width: calc(200px);
}
