package ${packageName};

import jp.dataforms.fw.field.base.FieldList;
import jp.dataforms.fw.dao.Query;
${importList}
${importTables}

/**
 * ${queryComment}クラスです。
 *
 */
public class ${queryClassName} extends Query {
${props}
	/**
	 * コンストラクタ.
	 */
	public ${queryClassName}() ${constructor}

${entity}
}