/**
 * @fileOverview {@link ${className}}クラスを記述したファイルです。
 */

'use strict';

${importModule}

/**
 * @class ${className}
 *
 * @extends ${superClassName}
 */
export class ${className} extends ${superClassName} {
	/**
	 * コンストラクタ。
	 */
	constructor() {
		super();
	}

	/**
	 * HTMLエレメントとの対応付けを行います。
	 */
	attach() {
		super.attach();
	}
}

