@charset "UTF-8";

ul.dropdwn {
	max-width: 1200px;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	text-align: left;
	list-style-type: none;
	padding: 0;
	color: #000;
}

ul.dropdwn>li {
	min-width: calc(1200px / 5);
	position: relative;
	padding: 5px;
	display: block;
	cursor: pointer;
	margin: 1px;
	background: var(--menu-level1-background-color);
	display: inline;
}

.dropdwn_menu {
	width: 100%;
	min-width: 120x;
	display: none;
	position: absolute;
	margin-left: -5px;
	margin-top: 5px;
	padding: 0;
	background: var(--menu-level2-background-color);
	overflow: hidden;
	z-index: 10;
}

.dropdwn_menu li {
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
}

.dropdwn_menu li a {
	padding: 5px 0;
	margin: -5px 5px -5px -5px;
	display: block;
	color: #000;
}

li a:hover {
	background: #b3d7ff;
	color: rgb(65, 65, 65);
}
