<!DOCTYPE html>
	<html>
		<head>
		<meta charset="UTF-8">
		<title>TestResult</title>
	</head>
	<body>
		<table>
			<tbody>
				<tr>
					<th>ページ名称</th>
					<td>${pageName}</td>
				</tr>
				<tr>
					<th>ページクラス</th>
					<td>${pageClass}</td>
				</tr>
			</tbody>
		</table>
		<table>
			<thead>
				<tr>
					<th>No.</th>
					<th>TEST ID</th>
					<th>テスト条件</th>
					<th>期待値</th>
					<th>テスト日時</th>
					<th>結果</th>
				</tr>
			</thead>
			<tbody>
${resultList}
			</tbody>
		</table>
	</body>
</html>